*{
    text decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 650;
    float: left;
    font-family: 'courier';
    color: #990000;
}

.menu {
    float: right; 
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #990000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,149,0,1) 0%, rgba(255,92,17,1) 100%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #990000;
}

h2 {
    font-family: 'Times New Roman';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #990000;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #F15412;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: Bold;
}

a.tbl-biru:hover {
    background: #990000;
    text-decoration: none;
}

a.tbl-pink {
    background: #990000;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: Bold;
}

a.tbl-pink:hover {
    background: #F15412;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
    font-family: 'Times New Roman';
}

#Contact {
    background: #f16b12fb;
    padding: 30px 0px 30px 0px;
}

.footer {
    width: 100%;
    position: relative;
    margin: 30px;
}

.footer-section {
    width: 20%;
    margin: auto;
}

h3 {
    font-family: 'Times New Roman';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 10px;
    color:#992400;
    width: 100%;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
}



